[run]
cover_pylib = false
omit =
    */site-packages/*
    */tests/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    RuntimeError
    NotImplementedError
    FileNotFoundError
    ImportError
